<template id="docs">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#docs-container {
  width: 100%;
  padding-left: 5px;
  padding-right: 10px;
}
th {
  vertical-align: top;
}
div {
  text-align: left;
}
#nav-menu {
  background-color: rgba(0,0,0,0.05);
  width: 256px;
}
.sub-doc {
  color: red;
  cursor: pointer;
  margin: 5px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div id='main' var='{d} c.data'>
    <table id='docs-container'>
      <tr>

        <th id="nav-menu">
          <!-- <nav-menu-tag></nav-menu-tag> -->
          <h3 id='title' style='cursor: pointer;'>{d}.title</h3>



          <!-- <div id='docs/example/one' class='sub-doc'> One </div>
          <div id='docs/example/two' class='sub-doc'> Two </div>
          <div id='docs/example/three' class='sub-doc'> Three </div>
          <div id='docs/example/four' class='sub-doc'> Four </div>
          <div id='docs/example/five' class='sub-doc'> Five </div>
          <div id='docs/example/six' class='sub-doc'> Six </div>
          <div id='docs/example/seven' class='sub-doc'> Seven </div> -->

          <div id='testy' style='cursor: pointer;'>
            testy
          </div>

        </th>

        <th id='main-content'>
          <!-- <example-doc-tag></example-doc-tag> -->
        </th>

      </tr>
    </table>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('docs-tag') )=>{

c._ON_SET = (attr)=>{
  // console.log(c.data)
  // if (attr === 'directory') {
  //   console.log(attr)
  //   if (!c.skip) c.skip = false
  //   if (c.skip === false) {
  //     c.I(_OLD_HASH).style.color = 'rgba(0,0,0,0.3)'
  //     if (c.oldSubDoc && (c.oldSubDoc != _OLD_HASH)) c.I(c.oldSubDoc).style.color = 'red'
  //     c.oldSubDoc = _OLD_HASH
  //   }
  //   c.skip = false
  // }
}

c._ADD_EVENT('click', 'testy', ()=>{
  console.log('title clicked')
}, true)

// c._ADD_CL_EVENT('click', 'sub-doc', ()=>{
//   // c.skip = true
//   // _PAGE_SET(event.path[0].id)
//   console.log('click', event.path[0].id)
// }, true)

c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / /

CodePen link: https://codepen.io/slogan_inc/pen/NvdLLB?q=docs%20menu&limit=all&order=popularity&depth=everything&show_forks=false

-->
