<template id="navbar"> <link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>

</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>

<span class='butt1 left' onclick="_PAGE_SET('home/landing')"> Page Handling with loneJS </span>
<div style='float: right;'>
  <button onclick="_PAGE_SET('home/page2')"> Page 2 </button>
  <button onclick="_PAGE_SET('home/page3')"> Page 3 </button>
  <button onclick="_PAGE_SET('login')"> log in </button>
</div>
<hr>

</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('navbar-tag') )=>{



c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
