<template id="docs">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#docs-container {
  width: 100%;
  padding-top: -5px;
  padding-left: 5px;
  padding-right: 10px;
  /*min-height: 80vh;*/
}
th {
  vertical-align: top;
}
div {
  text-align: left;
}
#nav-menu {
  background-color: rgba(0,0,0,0.05);
  width: 256px;
}
#main-content {
  position: relative;
  left: 5px;
  padding: 5px;
  padding-top: 0px;
  background-color: rgba(0,0,0,0.1);
}
.g1 {
  padding: 10px 5px 10px 5px;
}
.g2 {
  font-size: 12px;
  padding: 5px;
  padding-left: 15px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var='{d} c.data'>
  <div id='main'>
    <table id='docs-container'>
      <tr>
        <th id="nav-menu">
          <div class='g1'> Getting Started </div>
            <div class='g2'> Cloning the Repo </div>
            <div class='g2'> Setting up http-server </div>
            <div class='g2'> Developing with Atom </div>
          <div class='g1'> Components </div>
            <div class='g2'> Something... </div>
          <div class='g1'> Page Handling </div>
            <div class='g2'> Create a Page Group tag </div>
            <div class='g2'> Create a Page tag </div>
            <div class='g2'> Set Active Page </div>
            <div class='g2'> Set NO Active Page </div>
          <div class='g1'> Dynamic html </div>
            <div class='g2'> Something... </div>
          <div class='g1'> JavaScript in Components </div>
            <div class='g2'> Something... </div>

        </th>
        <th id='main-content'>
          <mdTest-tag></mdTest-tag>
        </th>
      </tr>
    </table>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('docs-tag') )=>{



c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / /

CodePen link: https://codepen.io/slogan_inc/pen/NvdLLB?q=docs%20menu&limit=all&order=popularity&depth=everything&show_forks=false

-->
