<template id="menu-test">
<link rel="stylesheet" href="style/menu.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>

</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var='{d} c.data'>
  <div class='cbody'>
    <div class='wrapper'>
      <input id='getting-started' type='checkbox'>
      <label for='getting-started' class='g3'>   <p> Getting Started </p>
        <div class='lil_arrow'></div>
        <div class='content'>
          <ul>
            <li>                        <a href='#'> Cloning the Repo </a> </li>
            <li>                        <a href='#'> Setting up http-server </a> </li>
            <li>                        <a href='#'> Developing with Atom </a> </li>
          </ul>
        </div>
        <span></span>
      </label>
      <input id='web-components' type='checkbox'>
      <label for='web-components' class='g3'> <p> Web Components </p>
        <div class='lil_arrow'></div>
        <div class='content'>
          <ul>
            <li>                        <a href='#'> Create a new Component </a> </li>
            <li>                        <a href='#'> Styles in Components </a> </li>
            <li>                        <a href='#'> Serving Data to Components </a> </li>
          </ul>
        </div>
        <span></span>
      </label>
      <input id='page-handling' type='checkbox'>
      <label for='page-handling' class='g5'> <p> Page Handling </p>
        <div class='lil_arrow'></div>
        <div class='content'>
          <ul>
            <li>                        <a href='#'> Create a Page Group Tag </a> </li>
            <li>                        <a href='#'> Create a Page Tag </a> </li>
            <li>                        <a href='#'> Set Active Page </a> </li>
            <li>                        <a href='#'> Set NO Active Page </a> </li>
            <li>                        <a href='#'> Set NO Active Page </a> </li>
          </ul>
        </div>
        <span></span>
      </label>
      <input id='dynamic-html' type='checkbox'>
      <label for='dynamic-html' class='g2'> <p> Dynamic html </p>
        <div class='lil_arrow'></div>
        <div class='content'>
          <ul>
            <li>                        <a href='#'> For... </a> </li>
            <li>                        <a href='#'> Var... </a> </li>
          </ul>
        </div>
        <span></span>
      </label>
      <input id='js-in-components' type='checkbox' >
      <label for='js-in-components' class='g2'> <p> JavaScript in Components</p>
        <div class='lil_arrow'></div>
        <div class='content'>
          <ul>
            <li>                        <a href='#'> Local JS </a> </li>
            <li>                        <a href='#'> more... </a> </li>
          </ul>
        </div>
        <span></span>
      </label>
    </div>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('menu-test-tag') )=>{



c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
