<template id="nav-page">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main { text-align: center; }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var='{d} c.data'>
  <div id='main'>
    {d}.title
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('nav-page-tag') )=>{



c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
