<template id="nav-page">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {
  text-align: center;
}
pre {
  font-family: Avenir;
  font-size: 16px;
  text-align: left;
  margin-left: 100px;
  white-space: pre-wrap;
}
span {
 font-size: 22px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var='{d} c.data'>
  <div id='main'>
    <span>{d}.title</span>
    <pre> {d}.subTitle </pre>
    <h5> Endpoint: {d}.endpoint </h5>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('nav-page-tag') )=>{



c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
