<template id="page3">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var='{d} c.data'>
  <div id='main'>

    <PAGE-subnav pageName="subnav1" activePage='true'> Endpoint: ~/#home/page3/subnav1 </PAGE-subnav>
    <PAGE-subnav pageName="subnav2"> Endpoint: ~/#home/page3/subnav2 </PAGE-subnav>
    <PAGE-subnav pageName="subnav3">
      Endpoint: ~/#home/page3/subnav3
      <br> <br>let's embed endpoints to test here
    </PAGE-subnav>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('page3-tag') )=>{



c._NEW_ELM() })()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
